<__trans_section component="TwitComment">
<mtapp:setting
   id="TwitterComment"
   label="<__trans phrase="OAuth setting.">">
  <ul style="margin-top:5px">
  <li>
    <label for="TwitComment_consumerkey"><__trans phrase="Consumer key:"><input type="text" name="TwitComment_consumerkey" id="TwitComment_consumerkey" value="<mt:if name="TwitComment_consumerkey"><mt:var name="TwitComment_consumerkey"></mt:if>" /></label>
  </li>
  <li>
    <label for="TwitComment_consumerkey_secret"><__trans phrase="Consumer secret:"><input type="text" name="TwitComment_consumerkey_secret" id="TwitComment_consumerkey_secret" value="<mt:if name="TwitComment_consumerkey_secret"><mt:var name="TwitComment_consumerkey_secret"></mt:if>" /></label>
  </li>
  </ul>
</mtapp:setting>
</__trans_section>
